<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="C:\temp\Veridata\AspNetCoreNlog\Logs\internal-nlog.txt">

  <!--
  See http://nlog-project.org/wiki/Configuration_file
  for information on customizing logging rules and outputs.
   -->

  <variable name="linePrefix" value="${date:format=yyyy-MM-dd HH\:mm\:ss} ${pad:padding=5:inner=${uppercase:${level}}} ${callsite:IncludeSourcePath=false} - " />
  <variable name="exceptionFormat" value="${onexception:${newline}EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
  <variable name="appName" value="PromoPort" />
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <targets>
    <!-- add your targets here -->
    <target xsi:type="File" name="allfile" fileName="${gdc:item=configDir}\nlog-all.log"
                    layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="ownFile-web" fileName="${gdc:item=configDir}\nlog-own.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />

    <target xsi:type="Null" name="blackhole" />

    <target name="database" xsi:type="Database"
              dbProvider="Npgsql.NpgsqlConnection, Npgsql"
              connectionString="User ID=postgres;Password=admin123;Host=localhost;Database=pfc_dev;Pooling=true;">
      <commandText>
        insert into config.logs (
        Application, Logged,log_date,level,
        Logger, call_site,message, Exception
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@application" layout="AspNetCoreNlog" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />

      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

    <!--<target xsi:type="File"
            name="default"
            fileName="${basedir}/logs/${appName}_${shortdate}.log"
            layout="${linePrefix}${message}${exceptionFormat}" />

    <target xsi:type="Mail"
            name="ErrEmail"
            smtpServer="192.168.2.75"
            from="noreply@example.com"
            to="noreply@example.com"
            subject="${appName}: Exception Error"
            body="${linePrefix}${message}${newline}${exceptionFormat}" /> -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Debug" writeTo="database" />
    <logger name="*" minlevel="Debug" writeTo="localFile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
      <!--<logger name="*" minlevel="Info" writeTo="default" />-->
    <!--<logger name="*" minlevel="Error" writeTo="ErrEmail" />-->
  </rules>
</nlog>